@import "tailwindcss";

body {
  overflow-x: hidden;
}

.container {
  @apply max-w-[1120px] mx-auto;
}

@theme {
  --font-popins: "Poppins", sans-serif;
  --font-figtree: "Figtree", sans-serif;
}
.menu li a {
  @apply font-popins font-normal text-[16px] text-[rgba(0,0,0,0.3)] duration-300;
}
.menu li a:hover {
  @apply text-black;
}
.category a {
  @apply text-white text-[16px] font-popins leading-8 font-normal relative;
}
.category a::after {
  @apply absolute content-[''] w-px h-6 bg-[#FFFFFF] right-[-60px];
}
.category a:last-child::after {
  @apply hidden;
}
.activetab button{
  color: #000!important;
  border-bottom: 2px solid #000;
}

.range-slider {
  background: transparent;
  pointer-events: auto;
}

.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 9999px;
  background: black;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.range-slider::-moz-range-thumb {
  height: 16px;
  width: 16px;
  border-radius: 9999px;
  background: black;
  cursor: pointer;
}
input[type="radio"]:checked + label span {
  background-color: #000;
  border-color: #000;
}

.custom-scroll::-webkit-scrollbar {
  width: 2px;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #5D5D5D;
  border-radius: 2px;
}
.custom-scroll::-webkit-scrollbar-track {
  background-color: #d9d9d9;
}

.colors input[type="radio"]:checked + label span {
  border: 1px solid red;
  box-shadow: 0px 0px 0px 4px white inset;
  
}
.size input[type="radio"]:checked + label span {
  border: 1px solid #000;
  color: #000;  
  background-color: transparent;
}